header {

		background-color: rgb(0,0,0);
		padding: 20px;
}


body
{
	background-image: url(Images/img_background.jpg) ;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;


	font-family : 'Noto Sans', sans-serif;
}

footer
{
	background-color: rgba(0,0,0, 1);
	font-family : 'Noto Sans', sans-serif;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;

    padding: 5px;


}

.mainBody
{
	margin-top: 120px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px;
	background-color: rgba(220,220,220, 0.6);

}

}

/* Related to header */
.fixed-header
{
    width: 100%;
    position: fixed;        
    background: #222;
    padding: 10px;
    color: #fff;
    top: 0;
    left : 0;
}

#header-logo
{
	margin-left: 40%;
	width: 20%;
}

#header-shop
{
	margin-left: 25%;
	width: 2.5%;
}

#header-profile
{
	margin-left: 5%;
	width: 2.5%;
}

/* Related to the main description of the item */
.description
{
	width : 100%;
	background-color: rgba(40,40,40, 0.6);
	padding : 10px;
	display: inline-block;

}

.descriptionImageContain
{
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.descriptionImage
{

	width: 100%;
}

.descriptionOther
{
	display: inline-block;
	width : 55%;
}

.descriptionTitle
{
	padding: 10px;
	margin: 5px;
	background-color: rgb(51, 102, 0);
	font-size: 20px;
	color: rgb(255, 255, 255);
	outline-color: rgb(26, 51, 0);
	outline-width: 3px;
	outline-style: outset;
}

.descriptionText
{
	background-color: rgba(220, 220, 220, 1);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.descriptionBottom
{
	background-color: rgba(220, 220, 220, 1);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	float: right;
}

.descriptionPrice
{
	display: inline-block;

}

.descriptionButton
{
	padding: 10px;
	margin: 5px;
	background-color: rgb(51, 102, 0);
	font-size: 16px;
	color: rgb(255, 255, 255);
	width: 150px;
	outline-color: rgb(26, 51, 0);
	outline-width: 3px;
	outline-style: outset;
}

/* For the 4 images below the description */
.ratingImageContainer
{
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10%;
}

.ratingImage
{
	width: 15%;
	margin: 2.5%;
}


/* Stars rating system */
ul
{
	list-style-type: none;
}

li
{
	display: inline-block;
}

/* General rating system */
.ratingTotal
{
	width : 100%;
	background-color: rgba(40,40,40, 0.6);
	padding : 10px;
		display: inline-block;
}

.rating
{
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin: 3%;
	padding : 10px;
	background-color: rgba(220, 220, 220, 1);
	height : 200px;
}

.ratingPseudo
{
	padding: 10px;
	margin: 5px;
	background-color: rgb(51, 102, 0);
	font-size: 16px;
	color: rgb(255, 255, 255);
	outline-color: rgb(26, 51, 0);
	outline-width: 3px;
	outline-style: outset;
	width: 200px;
}

.Newsletter
{
		margin-top: 20px;
	    margin-bottom: 20px;
	    padding: 10px;
		background-color: rgba(40,40,40, 1);
		font-family : 'Noto Sans', sans-serif;
		font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
}